# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# OS
.DS_Store
Thumbs.db
git_comand.txt